/* GENERAL STYLING */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #003366; /* navy blue background */
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 5px 0;
}


.logo {
    width: 250px;   /* resize your logo */
    height: auto;   /* keeps proportions */
    display: block; 
    margin: 15px auto ;
    padding: 0;
}

.divider {
    border: none;
    border-top: 5px solid white; /* color of the line */
    margin: 20px 0;              /* space above + below the line */
    opacity: 100;                /* softer line (optional) */
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}


nav a:hover {
    text-decoration: underline;
}

/* INTRO SECTION */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

/* Increase About Me text size */
.intro-text p {
    font-size: 25px;
    line-height: 1.3;
}

.intro-text h2 {
    font-size: 28px;
}

.intro-text {
    max-width: 40%;
}


.profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.divider {
    border: none;
    border-top: 5px solid white; /* color of the line */
    margin: 20px 0;              /* space above + below the line */
    opacity: 100;                /* softer line (optional) */
}

/* PORTFOLIO */
.portfolio {
    text-align: center;
    padding: 40px 20px;
}

.portfolio h2 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;          /* allows images to go to a second row */
    gap: 25px;                /* space between images */
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-grid img {
    width: 200px;             /* smaller fixed width */
    height: 260px;            /* maintain portrait format */
    object-fit: cover;
    border-radius: 5px;
    display: block;
}



/* FOOTER */
footer {
    padding: 20px;
    line-height: 1;
}

footer a {
    color: white;
    text-decoration: none; /* removes underline — optional */
}

footer a:hover {
    text-decoration: underline; /* hover effect — optional */
}

/* GOOGLE FONTS CLASSES */
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* ABOUT ME PAGE */
.about {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.about h2 {
    text-align: center;
    margin-bottom: 40px;
}

.about-content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about p {
    font-size: 20px;
    line-height: 1.5;
}



